@font-face {
    font-family: "Roboto-Regular";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 1600px;
    height: 95px;
    margin: 0 auto;
    background-color: grey;
    position: relative;
}

.header-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    float: left;
}

.header-nav {
    width: 581px;
    height: 95px;
    margin-left: 496px;
    display: flex;
    align-items: center;
}

.header-nav__element {
    text-decoration: none;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 74px;
    margin-top: 1px;
    padding: 6px;
    color: #FFFFFF;
    opacity: 0.8;
    transition: all 0.3s;
}

.header-nav__element:nth-child(1) {
    position: relative;
    color: #fff;
    opacity: 1;
}

.header-nav__element:nth-child(1)::before {
    content: "";
    display: block;
    width: 38px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 25px;
}

.header-nav__element:nth-child(2) {
    margin-right: 232px;
}

.header-nav__element:hover {
    opacity: 1;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);

}